body {

	background-image: url("images/background.png")
}

div {

	background-color: rgb(201, 160, 160);
	margin: 10px;
	width: 25%;
	float: center;
}

div {

	border: solid 2px antiquewhite;
	padding: 20px;
}

h1, h3, span {

	font-weight: bold;
	text-align: center;
}

h1 {

	font-size: 30pt;
}

ol {

	list-style: decimal inside; 
	line-height: 1.5;
}

div.header {

	background-color: #eeea05;
}

div.header, div.instructions {

	width: 50%;
	box-align: center;
	margin-left: auto;
	margin-right: auto;
}

.numberToMatch {

	float: left;
	margin-left: 22%;
	width: 25%;
	height: 60px;
}

.userTotal {
	 
	float: left;
	width: 25%;
	height: 60px;
}

.crystals{

	border: none;
	background: none;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10%;
	width: 35%;
	}

.crystalImage {

	width: 30%;
	height: 60px;
	margin: 10px;
}

.wins {

	clear: both;	
	float: right;
	width: 20%;
	height: 20px;
	text-align: right;
}

.losses {

	float: right:
	width: 20%;
	height: 20px;
	text-align: right;
}




